.hed{
	text-align:center;
	}
ul{
	list-style-type:none;
}
li>a{
	text-decoration-line:none;
}
*{
	background-color: rgb(204, 204, 204);
}
.player_one{
	background-color:rgb(255,255,255);
	padding:10px;
	border-radius:10px;
}
.player_two{
	width:100%;
	padding:10px;
	border-radius:10px;
}

